h1{
    color: aqua;
    text-align: center;
}

div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid beige;
    padding: 15px;
    color: brown;
    text-align: center;
}

img{
    opacity: 0.5;
}

img:hover{
    opacity: 1.0;
}